* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #bfd7ea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0.4rem;
}

.content {
  padding: 0rem 2rem;
  min-width: min(90vw, 500px);
}
h2 {
  font-family: "Teko", sans-serif;
  color: #000;
  text-align: center;
  margin: 1rem 0rem;
  font-size: 2rem;
  border-bottom: 0.2rem solid #0b3954;
}

.card {
  background-color: #0b3954;
  margin-bottom: 0.3rem;
  padding: 1.3rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  color: #eff0d1;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 600;
  text-align: center;
}
